@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	--font-heading: "Montserrat", sans-serif;
	--font-sans: "Inter", sans-serif;

	--color-primary: var(--ui-color-primary-500);
	--color-secondary: var(--ui-color-secondary-500);
	--color-success: var(--ui-color-success-500);
	--color-info: var(--ui-color-info-500);
	--color-warning: var(--ui-color-warning-500);
	--color-error: var(--ui-color-error-500);

	--breakpoint-lg: 50rem;
}

@layer base {
	* {
		-webkit-tap-highlight-color: transparent;
	}

	img {
		user-select: none;
		-webkit-user-drag: none;
	}
}


.page-enter-active,
.page-leave-active {
	@apply transition-opacity ease-in-out duration-200;
}
.page-enter-from,
.page-leave-to {
	@apply opacity-0;
}
